.section-title{
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall{
    font-size: 3.75rem;
  }

  strong{
    font-weight: 500;
  }

  &--blue{
    color: $mainBlue;
  }

  &__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6rem;

    @mixin atSmall{
      position: relative;
      top: 8px;
      margin-right: .5rem;
      margin-left: 0;
      margin-bottom: 0rem;
      display: inline-block;

    }
  }
}
